
.list__item:nth-child(2) .header__link {
  color: var(--color-black);
}

.list__item:nth-child(5) .header__link {
  color: var(--color-torch-red);
}

.blog {
  margin-bottom: 50px;
  border-bottom: 1px solid var(--color-catskill-white);
}

.blog__container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1230px;
}

.blog__inner {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.blog__card{
  position: relative;
  margin-bottom: 50px;
  padding: 228px 15px 15px 15px;
  max-width: 350px;
  border-radius: 5px;
  box-shadow: 0px 0px 50px var(--color-gallery);
  background-color: var(--color-white);
}

.blog-card__img {
  position: absolute;
  top: 0;
  left: 0;
}

.blog-card__link-box {
  display: flex;
  align-items: flex-start;
  margin-top: 15px;
  margin-bottom: 15px;
}

.blog-card__link {
  padding: 10px;
  border-radius: 5px;
  color: var(--color-black);
  background-color: var(--color-white-lilac);
  box-shadow: 0px 0px 20px var(--color-wild-sand);
}

.blog-card__link:first-child {
  margin-right: 10px;
}

.blog-card__subtitle {
  margin: 0;
  margin-bottom: 15px;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  color: var(--color-torch-red);
}

.blog-card__text {
  margin: 0;
  font-weight: 300;
  font-size: 14px;
  line-height: 22px;
}


/*адаптивность*/



@media (max-width: 960px) {
  .blog__container {
    margin: 0 auto;
    padding: 0 30px;
    max-width: 1230px;
  }

}


@media (max-width: 768px){ 

  .blog__container {
    padding: 0 15px;
  }

}

@media (max-width: 407px) {

  .blog-card__img {
    width: 100%;
  }

  .blog__card{
    max-width: 100%;
  }

  .blog__card {
    margin-bottom: 25px;
  }

}

@media (max-width: 375px) {

  .blog__container {
    padding: 0 17px;
  }

  .blog__inner {
    justify-content: center;
  }

  .blog__card {
    margin-bottom: 25px;
  }
}


  @media (max-width: 320px) {
    .blog__card {
      padding: 190px 15px 15px 15px;
    }
  }