@media (max-width: 1080px) {

  .hero-min {
    margin-top: 80px;
  }

  .services__card:nth-child(3) .services-card__text {
    max-width: 100%;
  }

  .services__card:nth-child(4) .services-card__text {
    max-width: 100%;
  }

  .contact__container {
    margin-bottom: 50px;
    padding: 0 115px;
  }

  .contact-inner__top {
    padding: 34px 23px 30px 23px;
  }

  .feedback__container {
    padding: 0 115px;
  }

  .feedback__inner {
    width: 100%;
    max-height: 100%;
  }

  .feedback__card {
    max-width: 100%;
  }

  .feedback__card:nth-child(1),
  .feedback__card:nth-child(2),
  .feedback__card:nth-child(3),
  .feedback__card:nth-child(4) {
    margin-right: 0;
  }

}

@media (max-width: 1000px) {
  
  .contact-inner__top {
    flex-wrap: wrap;
    padding: 34px 18px 10px 23px;
  }

  .contact-inner-top__item {
    margin-bottom: 20px;
    margin-right: 5px;
  }

}

@media (max-width: 750px) {

  .contact__container {
    padding: 0 50px;
  }

  .feedback__container {
    padding: 0 50px;
  }

}

@media (max-width: 600px) {

  .contact__container {
    padding: 0 25px;
  }

}


@media (max-width: 550px) {

  .hero-min {
    margin-top: 60px;
    margin-bottom: 25px;
  }

  .hero-min__title {
    font-size: 30px;
    line-height: 39px;
  }

  .hero-list-min__link {
    font-size: 12px;
    line-height: 15px;
  }

  .contact__container,
  .feedback__container {
    padding: 0 17px;
  }

  .contact-inner__top {
    flex-direction: column;
    align-items: flex-start;
    align-content: center;
  }

  .contact-inner-bottom__title {
    text-align: center;
  }

  .contact-inner-top__item {
    margin-bottom: 25px;
  }


  
}


@media (max-width: 375px) {

  .hero-min__container {
    padding: 20px 15px 20px 15px;
  }

  .hero-min__title {
    font-size: 23px;
    line-height: 30px;
  }

  .contact-inner__bottom {
    padding: 20px 15px 25px 15px;
  }

  .contact-inner-bottom__title {
    text-align: center;
    font-size: 23px;
    line-height: 30px;
  }

  .header__bottom-btn {
    padding: 9px 40px;
  }

  .services__card:nth-child(3),
  .services__card:nth-child(4),
  .services__card:nth-child(5) {
    padding: 16px 22px 47px 20px;
  }

}

@media (max-width: 350px) {

  .hero-min__title {
    margin-bottom: 10px;
    font-size: 24px;
    line-height: 30px;
  }
}
