/* section hero-min*/

.bottom__list-item:first-child .list-item__link{
  color: var(--color-black);
}

.bottom__list-item:nth-child(2) .list-item__link{
  color: var(--color-black);
}

.bottom__list-item:nth-child(3) .list-item__link{
  color: var(--color-torch-red);
}


@media (max-width: 375px) {
  .services__card:nth-child(1) {
    padding: 27px 23px 47px 20px;
  }

  .services__card:nth-child(1) .services-card__title {
    margin-bottom: 20px;
  }

}